.logoPart {
  width: 150px;
  height: 40px;
}
.leftSidePart {
  position: fixed;
}
.logoImg {
  width: 100%;
}
.navLinkPart {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}
.navLink {
  display: flex;
  height: 25px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 7px;
  &:hover {
    background-color: #ededed;
  }
}
.navName {
  font-weight: 500;
}

.belowPart {
  margin-top: 80px;
}
